
@{
    ViewData["Title"] = "loginScreen";
}

<h2>loginScreen</h2>

<form asp-action="LoginPress"  asp-controller="LogIn">
<input type="number" name="passnumber" />
<input type="number" name="pincode" />
<input type="submit" name="logIn" />
</form>



