
@{
    ViewData["Title"] = "loginScreen";
}

<div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form asp-action="LoginPress" asp-controller="LogIn">
                <H2>Inloggen</H2>
                <div class="form-group">
                    <label for="InputPassnumber">pas nummer</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="pas nummer">

                </div>
                <div class="form-group">
                    <label for="InputPincode">Pincode</label>
                    <input type="password" class="form-control" id="pincode" placeholder="Pincode">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>



