@{
    ViewData["Title"] = "Rekening aanmaken";
}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">

<link href="~/css/bootstrap.css" rel="stylesheet" />
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>





<div class="dropdown">
    <select>
        <option value="eigenaar">Eigenaar</option>
        <option value="mede-eigenaar">Mede-eigenaar</option>
        <option value="gemachtige">Gemachtigde</option>
    </select>
</div>

<button type="button" class="btn btn-outline-primary">Opslaan</button>



