@model Account
@{
    ViewData["Title"] = "TransferView";
}
    <div class="col-md-4 col-md-offset-4">
        <h2>TransferView</h2>

        <div class="row">
            <div>
                <form asp-action="Transfer">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" name="id" value="@Model.ID" />

                    <div class="form-group">
                        <label class="control-label">Overboeken naar:</label>
                        <input name="number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bedrag</label>
                        <input name="amount" class="form-control" />
                    </div>

                    <div class="form-group">

                        <input type="submit" value="Transfer" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
     
